:host {

}

.pre,
.code {
    font-family: Consolas, Liberation Mono, Menlo, monospace;
}

.pre {
    background: #1b1b1b;
    border-radius: 8px;
    box-sizing: border-box;
    clear: both;
    color: #f5d67b;
    hyphens: none;
    line-height: 28px;
    margin: 0 0 1.5rem;
    overflow: hidden;
    padding: 0;
    position: relative;
    tab-size: 4;
    word-break: normal;
}

.code {
    background: none;
    display: block;
    font-size: 16px;
    line-height: 1.75;
    max-width: 100%;
    min-width: 100px;
    overflow-x: scroll;
    padding: 15px 20px 12px 22px;
    white-space: pre;
}